MONGO_URI="Your Mongo URI should go here or if you don't wanna make a cluster just to test the app you can use mine just for the sake of assesment MONGO_URI=mongodb+srv://fahadAdmin:fahad@cluster0.62413.mongodb.net/cowlartodo?retryWrites=true&w=majority"
SECRET_KEY="Your secret keys goes here"
AWS_S3_ACCESS_KEY_ID="Your AWS S3 bucket Acces key id should go here if you don't wanna make your self one just for the sake of assesment you can use mine make AWS_S3_ACCESS_KEY_ID=AKIAYXZSIY2URAJGPL7G"
AWS_S3_SECRET_ACCESS_KEY="Your AWS S3 bucket secret Acces key id should go here if you don't wanna make your self one just for the sake of assesment you can use mine make AWS_S3_SECRET_ACCESS_KEY=fhZmpo4fpLWavGlfcICGRWzP/y7aGDxpu4BRl/DS"
BUCKET_NAME="your s3 bucket name should go here if you are using my s3 above credentials then make BUCKET_NAME=horsefly-bucket"